.main__sidenav {
    margin: 0;
    width: 80px;
    height: 100%;
    box-sizing: border-box;
    background-color:#000b76;
    color: #fff;
}

.main__sidenav i {
    font-size: 2em;
    color: #fff;
}

.main__sidenav .nav-item {
    margin-left: 5px;
}

