.user-lists h1 {
    margin-top: 30px;
    margin-left: 150px;
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 3px 3px 5px #0105299c; 
    cursor: pointer;
}

.main_table {
    width: 1390px;
    margin-top: 50px;
    margin-left: 120px;
    padding: 20px;
    border-radius: 20px;
    background: #e3e6f1;
    box-shadow:  13px 13px 26px #e1e2e6, 
             -13px -13px 26px #fdfeff;
}

.list_data {
    cursor: pointer;
}

.list_data:hover {
    background: linear-gradient(145deg, #cccfd9, #f3f6ff);
    box-shadow:  9px 9px 18px #cacdd6, 
             -9px -9px 18px #fcffff;
}


.user-lists .row .add_user_button{
    width: 130px;
    margin-right: 50px;
    height: 35px;
    color: #FF4F73;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: #e3e6f1;
    box-shadow:  5px 5px 8px #cfd1db, 
             -5px -5px 8px #f7fbff;

}

.user-lists .row .add_user_button:hover{
    background: linear-gradient(145deg, #cccfd9, #f3f6ff);
    box-shadow:  6px 6px 12px #b3b6be, 
             -6px -6px 12px #ffffff;
}


